.back-button {
    display: inline-block;
    margin: 20px;
    padding: 10px 15px;
    background-color: #f3ebbb;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.back-button:hover {
    background-color: #ffd700;
}
.fullscreen-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.fullscreen-game {
    width: auto;
    height: 100vh;
}